#inicio {
    color: aliceblue;
    display: grid;
    place-content: center;
    text-shadow: 4px 4px 5px #0005;
}


body {
    display: grid;
    place-content: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    justify-items: stretch;
    background-image: url("https://1.bp.blogspot.com/-xfFGQC1TQcc/YFH-oZJolqI/AAAAAAAAB7M/v6do2LY-djkO2w3qlKgfvx3icfBu1CfawCLcBGAsYHQ/w1200-h630-p-k-no-nu/%25E2%2580%25AB%25D9%2585%25D8%25B1%25D8%25A7%25D8%25AC%25D8%25B9%25D8%25A9%2BTom%2Band%2BJerry%2B-%2B%25D9%2581%25D9%258A%25D9%2584%25D9%2585%2B%25D8%25AA%25D9%2588%25D9%2585%2B%25D9%2588%25D8%25AC%25D9%258A%25D8%25B1%25D9%258A%2B2021%2B%25D8%25BA%25D9%258A%25D8%25B1%2B%25D9%2585%25D9%2586%25D8%25A7%25D8%25B3%25D8%25A8%2B%25D9%2584%25D9%2584%25D8%25A3%25D8%25B7%25D9%2581%25D8%25A7%25D9%2584%2521.webp");
    background-size: cover;
      
}


.casilla {
    background-color: aliceblue;
    width: 140px;
    height: 140px;
    border: 1px solid black;
    box-shadow: 0 0 5px 1px #cec46e;
    padding-left: 0px;
    padding-right: 0px;
  
}


img {
    display: grid;
    place-content: center;
    height: 150px;
    width: 200px;
 
}


#resultado1{
    
    width: 200px;
    height: 30px;
    border: 1px solid black;
    background-color:  rgb(169, 172, 196);
    box-shadow: 0 0 5px 1px #FFF9C4;
    display: grid;
    place-content: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    justify-items: stretch;
  
}

button{
    display: grid;
    place-content: center;
    background-color: rgb(169, 172, 196);
    width: 200px;
    height: 30px;
}